.App {
  background-image: url(images/app_background.jpeg);
  background-size: cover;
}

.App-header {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.home-page {
  background-image: url(images/jobsearch-bg.jpg) no-repeat center center fixed;
  height: 90vh;
  background-size: cover;
}

.App-link {
  color: #61dafb;
}

.main-header {
  background: url(images/jobsearch-header.jpg) center center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg); 
  }
}

form a {
  margin-left: 10px
}

a {
  margin-left: 20px
}

.col-sm-4 {
  margin-bottom: 20px;
}
  
.card-body {
  margin-top: 15px;
  padding: 10px;
  text-align: center;
}
  
.card-header {
  text-align: center;
  text-shadow: 1px 1px #00ccff;
  font-size: 1.5em;
}
  
.index-div {
  margin-top: 20px
}
  
.card {
  height: 20em
}
  
.form-header {
  text-align: center;
  text-shadow: 1px 1px #00ccff;
  font-size: 2em;
}

.type-items button{
  font-size: 3px;
  padding: 20px;
}

.type-description{
  font-size: 1em;
  border: 50px;
  border-color: grey;
}

.task-item-container{
  height: 65vh;
}
.task-item-card{
  background-color: lightgrey ;
  text-align: center;
  margin: 40px 60px;;
  height: 60%
}

.task-item-card a {
  margin-left: 0;
}

#task-item-title {
  text-decoration: underline;
}


#type-link {
  font-size: 10px;
}

.footer {
  text-align: right;
}